<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.dao.BlogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lx.model.Blog">
        <id column="id" property="id" />
        <result column="blogTitle" property="blogTitle" />
        <result column="blogDesc" property="blogDesc" />
        <result column="blogContent" property="blogContent" />
        <result column="blogPublishTime" property="blogPublishTime" />
        <result column="blogOrigin" property="blogOrigin" />
        <result column="blogAuthor" property="blogAuthor" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, blogTitle, blogDesc, blogContent, blogPublishTime, blogOrigin,blogAuthor
    </sql>

    <!--查询所有博客列表-->
    <select id="findAllBlog" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from blog
    </select>
    <!--模糊查询博客-->
    <select id="search" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from blog
        <where>
            <if test="blogTitle!=null">
                and blogTitle like '%${blogTitle}%'
            </if>
            <if test="blogAuthor!=null">
                and blogAuthor like '%${blogAuthor}%'
            </if>
        </where>
    </select>
    <!--根据博客id删除博客-->
    <delete id="deleteById" >
        delete from blog where id=#{id}
    </delete>
    <!--根据Id查询博客信息-->
    <select id="findBlogById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from blog where id=#{id}
    </select>
    <!--添加博客-->
    <insert id="addBlog" parameterType="com.lx.model.Blog">
        insert into blog(blogTitle, blogDesc, blogContent, blogPublishTime, blogOrigin, blogAuthor)
        values(#{blogTitle},#{blogDesc},#{blogContent},now(),#{blogOrigin},#{blogAuthor})
    </insert>
    <!--更新博客-->
    <update id="updateBlog" parameterType="com.lx.model.Blog">
        update blog set blogTitle=#{blogTitle},blogDesc=#{blogDesc},blogContent=#{blogContent} where id=#{id}
    </update>
    <!--根据名称查询博客信息-->
    <select id="findBlogByName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from blog where blogAuthor=#{blogAuthor}
    </select>
</mapper>
