<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.dao.CommentsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lx.model.Comments">
        <id column="id" property="id" />
        <result column="comment" property="comment" />
        <result column="commentTime" property="commentTime" />
        <result column="critics" property="critics" />
        <result column="commentArticle" property="commentArticle" />
        <association property="blog" select="com.lx.dao.BlogDao.findBlogById" column="commentArticle"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, comment, commentTime, critics, commentArticle
    </sql>
    <!--添加评论-->
    <insert id="addComent" parameterType="com.lx.model.Comments">
        insert  into comments(comment, commentTime, critics, commentArticle) values (#{comment},now(),#{critics},#{commentArticle})
    </insert>
    <!--查询该文章下的所有评论-->
    <select id="findCommentsById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from comments where commentArticle=#{id}
    </select>
    <!--查询博主参与的所有评论-->
    <select id="findCommentsByName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from comments where critics=#{username}
    </select>
</mapper>
