<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.dao.UserDao">
    <!--查询所有用户信息-->
    <select id="findAll" resultMap="findAllMsg">
        select id,name,password,userdesc,registdate,phonenumber,emailaddress,hobbys,gender from user
    </select>

    <resultMap id="findAllMsg" type="com.lx.model.User">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="password" property="password"></result>
        <result column="userdesc" property="userdesc"></result>
        <result column="registdate" property="registdate"></result>
        <result column="phonenumber" property="phonenumber"></result>
        <result column="emailaddress" property="emailaddress"></result>
        <result column="hobbys" property="hobbys"></result>
        <result column="gender" property="gender"></result>
        <!--fetchType="lazy" 懒加载-->
        <association property="addressesList" select="com.lx.dao.UserAddressDao.findAllAddress" column="id">
        </association>
    </resultMap>

    <!--添加用户-->
    <insert id="addUser" parameterType="com.lx.model.User">
        insert into user (name,password,userdesc,phonenumber,emailaddress,hobbys,registdate,gender) values(#{name},#{password},#{userdesc},#{phonenumber},#{emailaddress},#{hobbys},now(),#{gender})
    </insert>
    <!--添加用户地址-->
    <insert id="addAddress" parameterType="com.lx.model.UserAddress">
        insert into address_table (homeaddress, workaddress,userid) values(#{homeaddress},#{workaddress},(select id from user where name=#{name}))
    </insert>

<!--    &lt;!&ndash;根据用户名进行查询&ndash;&gt;-->
<!--    <select id="findUserByName" resultType="com.lx.model.User">-->
<!--        select id,name,password,userdesc,registdate,phonenumber,emailaddress,hobbys,gender from user where name=#{username}-->
<!--    </select>-->

    <!--根据id进行查询-->
    <select id="findUserById" resultMap="findAllMsg">
        select id,name,password,userdesc,registdate,phonenumber,emailaddress,hobbys,gender from user where id=#{id}
    </select>

    <!--更新用户信息-->
    <update id="updateUserMsg" parameterType="com.lx.model.User">
        update user set password=#{password},userdesc=#{userdesc},phonenumber=#{phonenumber},emailaddress=#{emailaddress},hobbys=#{hobbys},gender=#{gender} where id=#{id}
    </update>

    <!--更新地址-->
    <update id="updateAddress" parameterType="com.lx.model.UserAddress">
        update address_table set homeaddress=#{homeaddress},workaddress=#{workaddress} where userid=#{id}
    </update>

    <!--删除用户信息-->
    <delete id="deleteUserMsg">
        delete from user where id=#{id};
    </delete>
    <!--删除地址信息-->
    <delete id="deleteAddress">
        delete from address_table where userid=#{id};
    </delete>

    <!--用户注册-->
    <insert id="userRegister" parameterType="com.lx.model.User">
        insert into user (name,password,userdesc,phonenumber,emailaddress,hobbys,registdate,gender,img) values(#{name},#{password},#{userdesc},#{phonenumber},#{emailaddress},#{hobbys},now(),#{gender},#{img})
    </insert>
    <!--模糊查询博主-->
    <select id="tSearch" resultMap="findAllMsg">
        select name,userdesc,registdate,phonenumber,emailaddress,hobbys,gender from user
        <where>
            <if test="name!=null">
                and name like '%${name}%'
            </if>
            <if test="phonenumber!=null">
                and phonenumber like '%${phonenumber}%'
            </if>
        </where>
    </select>
</mapper>